body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;

	background-color: #2d3436;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.crossroad {
	display: grid;
	grid-template-columns: 200px 200px 200px;

	& .box {
		width: 200px;
		height: 200px;

		border: 1px solid rgb(213, 211, 211);

		&--2 {
			border-bottom-color: transparent;
		}

		&--4 {
			border-right-color: transparent;
		}

		&--5 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			border-color: transparent;
		}

		&--6 {
			border-left-color: transparent;
		}

		&--8 {
			border-top-color: transparent;
		}

		&--traffic-lights {
			display: flex;
			justify-content: space-between;
		}
	}

	& .traffic-lights {
		width: 30px;
		height: 30px;
		border: 1px solid red;

		&--stop {
			border: 1px solid red;
			background: red;
		}

		&--set {
			border: 1px solid yellow;
			background: yellow;
		}

		&--start {
			border: 1px solid green;
			background: green;
		}

		&--additional {
			border: 1px solid green;
			box-shadow: 0px 0px 5px green;
		}
	}
}
